body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 40%;
    padding: 20px;
    padding-right: 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;
}

h2{
    text-align: center; 
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


button {   
    
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #55a0d3;
    color: white;
    flex: 1;
    margin-left: 35%;
}
